@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');


.container {
    background: linear-gradient(to top right, rgb(30, 30, 50), rgb(60, 60, 100) );
    color:#FFF;  

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0 ;
    border-top: 1px solid #FFF ;
}

.container-esquerda {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.container-esquerda p, .container-esquerda h3 {
    padding-left: 20px ;
}

.container-direita {
    padding-right: 40px;
}

.container-direita button {
    font-weight: 700;
    height: 30px;
    border-radius: 4px;
}

.container-esquerda img {
    border-radius: 50%;
}

@media screen and (max-width:630px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }

    .container-esquerda {
        padding-left: 10px;
        flex-direction: column;
        justify-content: center;
    }

    .container-esquerda p, .container-esquerda h3 {
        padding: 0;
        text-align: center;
    }

    .container-direita {
        padding-right: 10px;
    }
}